@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*Обнуление*/
@media (max-width: 1190px) {
  body .products__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  body .blog__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 990px) {
  .callback__img {
    display: none; } }

@media (max-width: 915px) {
  .header__bottom-link,
  .footer__top-link {
    font-size: 13px; }
  .footer__bottom-phone {
    display: none; }
  body .banner__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start; }
  body .banner__info-item {
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  .header__top-phone {
    display: none; }
  .footer__top-link,
  .footer__bottom-social {
    display: none; }
  .header__bottom-burger {
    height: 45px; }
    .header__bottom-burger span {
      width: 30px;
      height: 4px;
      background-color: #0f0f10;
      position: absolute;
      top: 20px;
      right: 20px; }
    .header__bottom-burger span::after,
    .header__bottom-burger span::before {
      content: "";
      width: 30px;
      height: 4px;
      background-color: #0f0f10;
      position: absolute; }
    .header__bottom-burger span::after {
      top: 8px; }
    .header__bottom-burger span::before {
      top: -8px; }
  .header__bottom-burger.active span {
    height: 0;
    z-index: 100; }
  .header__bottom-burger.active span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }
  .header__bottom-burger.active span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  .header__bottom-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f3;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: -1;
    opacity: 0; }
  .header__bottom-nav.active {
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 99; }
  .header__bottom-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px; }
  .header__bottom-link {
    font-size: 15px; }
  body .footer__top-nav {
    padding-top: 0; }
  body .banner {
    background: -webkit-linear-gradient(8.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right/contain, url("../images/banner.png") no-repeat center/auto 100%;
    background: -o-linear-gradient(8.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right/contain, url("../images/banner.png") no-repeat center/auto 100%;
    background: linear-gradient(81.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right/contain, url("../images/banner.png") no-repeat center/auto 100%; }
  body .product__item + .product__item,
  body .blog__item + .blog__item {
    margin-left: 0; } }

@media (max-width: 630px) {
  .header__top-social,
  .footer__bottom-copy {
    display: none; }
  body .banner__info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  body .banner__box {
    padding-top: 100px; }
  body .banner__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body .banner__btn-testdrive {
    margin-bottom: 30px; }
  body .products__title,
  body .blog__title {
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 40px;
    line-height: 1.1; } }

@media (max-width: 490px) {
  .header__top-btn,
  .footer__bottom-logo {
    display: none; }
  body .callback__form-title {
    text-align: center;
    font-size: 20px; }
  body .callback__form {
    padding: 80px 50px; }
  body .banner__buttons {
    padding-bottom: 80px; }
  body .banner__title {
    font-size: 27px;
    line-height: 32px; }
  body .banner__text {
    font-size: 18px;
    line-height: 22px; }
  body .banner__btn-testdrive {
    margin-right: 0; }
  body .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  body .advantages__title {
    font-size: 30px;
    padding-top: 60px; } }

@media (max-width: 380px) {
  body .product__item-info {
    margin-left: 10px; } }

body {
  overflow-x: hidden;
  color: #0f0f10;
  font-size: 15px;
  line-height: 17px;
  font-family: "MuseoSansCyrl";
  font-weight: 300; }

.container {
  margin: 0 auto;
  max-width: 1175px;
  padding: 0 15px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

header {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative; }

.header__top,
.footer__bottom {
  background-color: #172027; }
  .header__top-wrap,
  .footer__bottom-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__top-logo,
  .footer__bottom-logo {
    padding: 30px 0; }
  .header__top-contacts,
  .footer__bottom-contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__top-social,
  .footer__bottom-social {
    margin-right: 15px; }
  .header__top-phone,
  .footer__bottom-phone {
    margin-left: 15px;
    color: #fff;
    font-weight: 700; }
  .header__top-btn,
  .footer__bottom-btn {
    color: #fff;
    font-weight: 700;
    padding: 11px 31px;
    background: -webkit-gradient(linear, left bottom, left top, from(#077a34), to(#19e270));
    background: -webkit-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: -o-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    margin-left: 12px; }

.header__bottom,
.footer__top {
  background-color: #f2f2f3;
  position: relative; }
  .header__bottom-nav ul,
  .footer__top-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__bottom-list,
  .footer__top-list {
    padding: 15px 0; }
  .header__bottom-link,
  .footer__top-link {
    color: #0f0f10; }
    .header__bottom-link:hover,
    .footer__top-link:hover {
      font-weight: 700;
      color: #e31e24;
      letter-spacing: -0.3px; }

.callback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.callback__form {
  background-color: #f2f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 80px 75px; }
  .callback__form-title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4px; }
    .callback__form-title.testdrive {
      padding-bottom: 50px; }
  .callback__form-text {
    font-size: 13px;
    padding-bottom: 40px;
    max-width: 260px;
    text-align: center; }
  .callback__form-input {
    background: #fff;
    padding: 17px 32px;
    max-width: 316px;
    width: 100%;
    border-radius: 48px;
    margin-bottom: 15px; }
    .callback__form-input::-webkit-input-placeholder {
      color: #c6c5c5; }
    .callback__form-input:-ms-input-placeholder {
      color: #c6c5c5; }
    .callback__form-input::-ms-input-placeholder {
      color: #c6c5c5; }
    .callback__form-input::placeholder {
      color: #c6c5c5; }
  .callback__form-checkwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .callback__form-checkbox {
    font-size: 13px;
    padding-left: 20px;
    cursor: pointer; }
    .callback__form-checkbox::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      z-index: 1;
      width: 13px;
      height: 13px;
      border: 1px solid #c6c5c5;
      border-radius: 50%;
      cursor: pointer; }
    .callback__form-checkbox::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 2px;
      opacity: 0;
      z-index: 2;
      width: 9px;
      height: 9px;
      background-color: #18dc6d;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s; }
  .callback__form-btn {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 17px 117px;
    background: -webkit-gradient(linear, left bottom, left top, from(#077a34), to(#19e270));
    background: -webkit-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: -o-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    margin-top: 12px;
    cursor: pointer; }
  .callback__form .callback__form-check:checked + .callback__form-checkbox::before {
    opacity: 1; }
  .callback__form-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute; }
  .callback__form-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; }
    .callback__form-select-item + .callback__form-select-item {
      margin-left: 33px; }
    .callback__form-select-item {
      min-width: 117px;
      width: 100%;
      position: relative; }
  .callback__form .select-data {
    padding-bottom: 8px;
    margin-left: 8px; }
    .callback__form .select-data::before {
      content: "";
      background: url("../images/arrow-select.svg") no-repeat;
      position: absolute;
      top: 34px;
      right: 12px;
      width: 11px;
      height: 5px;
      z-index: 3; }
  .callback__form select {
    border-radius: 48px;
    min-width: 117px;
    width: 100%;
    padding: 4px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer; }

.mfp-close-btn-in .mfp-close {
  display: none; }

.white-popup-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.modal__thanks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  width: 530px;
  height: 375px; }
  .modal__thanks img {
    width: 98px;
    height: 98px; }
  .modal__thanks-text {
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    padding-top: 30px; }

.popup-modal-dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0f0f10;
  font-weight: 700;
  font-size: 25px; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.banner {
  background: -webkit-linear-gradient(8.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right, url("../images/banner.png") no-repeat center/auto 100%;
  background: -o-linear-gradient(8.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right, url("../images/banner.png") no-repeat center/auto 100%;
  background: linear-gradient(81.5deg, rgba(0, 0, 0, 0.584) 40.95%, rgba(0, 0, 0, 0) 99.79%), url("../images/banner-avto.png") no-repeat right, url("../images/banner.png") no-repeat center/auto 100%; }

.banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 211px;
  max-width: 580px; }

.banner__title {
  font-weight: 700;
  color: #fff;
  font-size: 44px;
  line-height: 48px; }

.banner__text {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 25px; }

.banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 180px; }

.banner__btn-testdrive {
  display: block;
  color: #fff;
  padding: 17px 92px;
  background: -webkit-gradient(linear, left bottom, left top, from(#077a34), to(#19e270));
  background: -webkit-linear-gradient(bottom, #077a34 0%, #19e270 100%);
  background: -o-linear-gradient(bottom, #077a34 0%, #19e270 100%);
  background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
  margin-right: 46px;
  border-radius: 48px;
  height: 100%; }

.banner__btn-arenda {
  display: block;
  color: #fff;
  padding: 17px 47px;
  background: -webkit-gradient(linear, left bottom, left top, from(#a8180f), to(#dd463d));
  background: -webkit-linear-gradient(bottom, #a8180f 0%, #dd463d 100%);
  background: -o-linear-gradient(bottom, #a8180f 0%, #dd463d 100%);
  background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
  border-radius: 48px;
  height: 100%; }

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .banner__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px; }
  .banner__info-icon {
    margin-right: 20px; }
  .banner__info-text {
    color: #fff;
    width: 190px; }

.products__title {
  font-weight: 700;
  font-size: 35px;
  padding-top: 96px;
  padding-bottom: 70px; }

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 49px 0px #8e888829;
  box-shadow: 0px 9px 49px 0px #8e888829;
  border-radius: 10px;
  margin-bottom: 60px;
  text-align: center; }
  .product__item-img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .product__item + .product__item {
    margin-left: 20px; }
  .product__item-title {
    font-weight: 700;
    font-size: 25px;
    padding-top: 33px;
    padding-bottom: 26px;
    text-align: center; }
  .product__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px; }
    .product__item-info span {
      margin-left: 34px; }
  .product__item-icon {
    width: 28px;
    margin-right: 11px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .product__item-text {
    font-weight: 700;
    font-size: 18px;
    width: 107px;
    text-align-last: left; }
  .product__item-btn {
    margin-bottom: 37px;
    margin-top: 32px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 17px 90px;
    background: -webkit-gradient(linear, left bottom, left top, from(#077a34), to(#19e270));
    background: -webkit-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: -o-linear-gradient(bottom, #077a34 0%, #19e270 100%);
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    -webkit-box-shadow: 0px 9px 48px 0px #18dc6d26;
    box-shadow: 0px 9px 48px 0px #18dc6d26; }

.products__more {
  text-align: center;
  padding-bottom: 100px; }
  .products__more-link {
    color: #fff;
    font-weight: 700;
    padding: 17px 26px;
    background: -webkit-gradient(linear, left bottom, left top, from(#a8180f), to(#dd463d));
    background: -webkit-linear-gradient(bottom, #a8180f 0%, #dd463d 100%);
    background: -o-linear-gradient(bottom, #a8180f 0%, #dd463d 100%);
    background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
    border-radius: 48px;
    -webkit-box-shadow: 0px 9px 48px 0px #d33d343d;
    box-shadow: 0px 9px 48px 0px #d33d343d; }

.advantages {
  background-color: #eee;
  -webkit-box-shadow: 0px 9px 49px 0px #8e888829;
  box-shadow: 0px 9px 49px 0px #8e888829; }
  .advantages__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 90px; }
  .advantages__title {
    padding-top: 96px;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .advantages__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 275px;
    padding: 14px;
    padding-left: 0; }
    .advantages__info-title {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 9px; }
  .advantages__icon {
    width: 76px;
    margin-right: 20px; }

.map__title {
  padding-top: 96px;
  padding-bottom: 70px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.1; }

.blog__title {
  padding-top: 96px;
  padding-bottom: 70px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.1; }

.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 60px; }

.blog__item + .blog__item {
  margin-left: 20px; }

.blog__item {
  width: 368px; }
  .blog__item-title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 12px; }
  .blog__item-text {
    padding-bottom: 30px; }

.blog__item-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  padding-bottom: 40px; }

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.footer__top,
.footer__bottom {
  background-color: #797c7d; }

.footer__top-nav {
  padding-top: 80px;
  padding-bottom: 30px; }

.footer__top-link {
  color: #fff; }

.footer__bottom-copy {
  color: #fff;
  margin-top: 25px; }

.footer__bottom-wrap {
  padding-bottom: 70px; }
