@media (max-width: 990px) {
  .callback__img {
    display: none;
  }
}

@media (max-width: 915px) {
  .header__bottom-link,
  .footer__top-link {
    font-size: 13px;
  }
  .footer__bottom-phone {
    display: none;
  }
  body .banner__info {
    flex-wrap: wrap;
    justify-content: start;
  }
  body .banner__info-item {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .header__top-phone {
    display: none;
  }
  .footer__top-link,
  .footer__bottom-social {
    display: none;
  }
  .header__bottom-burger {
    height: 45px;

    span {
      width: 30px;
      height: 4px;
      background-color: #0f0f10;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    span::after,
    span::before {
      content: "";
      width: 30px;
      height: 4px;
      background-color: #0f0f10;
      position: absolute;
    }
    span::after {
      top: 8px;
    }
    span::before {
      top: -8px;
    }
  }
  .header__bottom-burger.active {
    span {
      height: 0;
      z-index: 100;
    }
    span::after {
      transform: rotate(-45deg);
      top: 50%;
    }
    span::before {
      transform: rotate(45deg);
      top: 50%;
    }
  }
  .header__bottom-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f3;
    transition: all 0.5s;
    z-index: -1;
    opacity: 0;
  }

  .header__bottom-nav.active {
    opacity: 1;
    transition: all 0.5s;
    z-index: 99;
  }

  .header__bottom-nav ul {
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .header__bottom-link {
    font-size: 15px;
  }
  body .footer__top-nav {
    padding-top: 0;
  }
  body .banner {
    background: linear-gradient(
        81.5deg,
        rgba(0, 0, 0, 0.584) 40.95%,
        rgba(0, 0, 0, 0) 99.79%
      ),
      url("../images/banner-avto.png") no-repeat right / contain,
      url("../images/banner.png") no-repeat center / auto 100%;
  }
}

@media (max-width: 630px) {
  .header__top-social,
  .footer__bottom-copy {
    display: none;
  }
  body .banner__info {
    justify-content: center;
  }
  body .banner__box {
    padding-top: 100px;
  }
  body .banner__buttons {
    flex-wrap: wrap;
  }
  body .banner__btn-testdrive {
    margin-bottom: 30px;
  }
}

@media (max-width: 490px) {
  .header__top-btn,
  .footer__bottom-logo {
    display: none;
  }
  body .callback__form-title {
    text-align: center;
    font-size: 20px;
  }
  body .callback__form {
    padding: 80px 50px;
  }
  body .banner__buttons {
    padding-bottom: 80px;
  }
  body .banner__title {
    font-size: 27px;
    line-height: 32px;
  }
  body .banner__text {
    font-size: 18px;
    line-height: 22px;
  }
  body .banner__btn-testdrive {
    margin-right: 0;
  }
}
