@import "null.scss";
@import "media.scss";

body {
  overflow-x: hidden;
  color: #0f0f10;
  font-size: 15px;
  line-height: 17px;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
}
.container {
  margin: 0 auto;
  max-width: 1175px;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
  position: relative;
}
.header__top,
.footer__bottom {
  background-color: #172027;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    padding: 30px 0;
  }
  &-contacts {
    align-items: center;
    display: flex;
  }
  &-social {
    margin-right: 15px;
  }

  &-phone {
    margin-left: 15px;
    color: #fff;
    font-weight: 700;
  }
  &-btn {
    color: #fff;
    font-weight: 700;
    padding: 11px 31px;
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    margin-left: 12px;
  }
}
.header__bottom,
.footer__top {
  background-color: #f2f2f3;
  position: relative;
  &-nav ul {
    display: flex;
    justify-content: space-between;
  }
  &-list {
    padding: 15px 0;
  }
  &-link {
    color: #0f0f10;
    &:hover {
      font-weight: 700;
      color: #e31e24;
      letter-spacing: -0.3px;
    }
  }
}
.callback__wrap {
  display: flex;
  justify-content: center;
}
.callback__form {
  background-color: #f2f2f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 75px;
  &-title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4px;
    &.testdrive {
      padding-bottom: 50px;
    }
  }
  &-text {
    font-size: 13px;
    padding-bottom: 40px;
    max-width: 260px;
    text-align: center;
  }
  &-input {
    background: #fff;
    padding: 17px 32px;
    max-width: 316px;
    width: 100%;
    border-radius: 48px;
    margin-bottom: 15px;
    &::placeholder {
      color: #c6c5c5;
    }
  }
  &-checkwrap {
    display: flex;
    align-items: center;
    position: relative;
  }
  &-checkbox {
    font-size: 13px;
    padding-left: 20px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;

      z-index: 1;
      width: 13px;
      height: 13px;
      border: 1px solid #c6c5c5;
      border-radius: 50%;
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 2px;
      opacity: 0;
      z-index: 2;
      width: 9px;
      height: 9px;
      background-color: #18dc6d;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.2s;
    }
  }
  &-btn {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 17px 117px;
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    margin-top: 12px;
    cursor: pointer;
  }
  .callback__form-check:checked + .callback__form-checkbox::before {
    opacity: 1;
  }
  &-check {
    appearance: none;
    position: absolute;
  }
  &-select {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    &-item + .callback__form-select-item {
      margin-left: 33px;
    }
    &-item {
      min-width: 117px;
      width: 100%;
      position: relative;
    }
  }
  .select-data {
    padding-bottom: 8px;
    margin-left: 8px;

    &::before {
      content: "";
      background: url("../images/arrow-select.svg") no-repeat;
      position: absolute;
      top: 34px;
      right: 12px;
      width: 11px;
      height: 5px;
      z-index: 3;
    }
  }
  select {
    border-radius: 48px;
    min-width: 117px;
    width: 100%;
    padding: 4px 15px;
    appearance: none;
    position: relative;
    cursor: pointer;
  }
}
.mfp-close-btn-in .mfp-close {
  display: none;
}
.white-popup-block {
  display: flex;
  justify-content: center;
}
.modal__thanks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 530px;
  height: 375px;
  img {
    width: 98px;
    height: 98px;
  }
  &-text {
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    padding-top: 30px;
  }
}
.popup-modal-dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0f0f10;
  font-weight: 700;
  font-size: 25px;
}

main {
  flex: 1 0 auto;
}

.banner {
  background: linear-gradient(
      81.5deg,
      rgba(0, 0, 0, 0.584) 40.95%,
      rgba(0, 0, 0, 0) 99.79%
    ),
    url("../images/banner-avto.png") no-repeat right,
    url("../images/banner.png") no-repeat center / auto 100%;
}
.banner__box {
  display: flex;
  flex-direction: column;
  padding-top: 211px;
  max-width: 580px;
}
.banner__title {
  font-weight: 700;
  color: #fff;
  font-size: 44px;
  line-height: 48px;
}
.banner__text {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 25px;
}
.banner__buttons {
  display: flex;
  padding-bottom: 180px;
}
.banner__btn-testdrive {
  display: block;
  color: #fff;
  padding: 17px 92px;
  background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
  margin-right: 46px;
  border-radius: 48px;
  height: 100%;
}
.banner__btn-arenda {
  display: block;
  color: #fff;
  padding: 17px 47px;
  background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
  border-radius: 48px;
  height: 100%;
}
.banner__info {
  display: flex;
  padding-bottom: 80px;
  justify-content: space-between;
  &-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &-icon {
    margin-right: 20px;
  }
  &-text {
    color: #fff;
    width: 190px;
  }
}
.products {
  &__title {
    font-weight: 700;
    font-size: 35px;
    padding-top: 96px;
    padding-bottom: 70px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.product__item {
  background-color: #fff;
  box-shadow: 0px 9px 49px 0px #8e888829;

  border-radius: 10px;
  margin-bottom: 60px;
  text-align: center;
  &-img {
    width: 100%;
    object-fit: cover;
  }
  & + .product__item {
    margin-left: 20px;
  }
  &-title {
    font-weight: 700;
    font-size: 25px;
    padding-top: 33px;
    padding-bottom: 26px;
    text-align: center;
  }
  &-info {
    display: flex;
    align-items: center;
    margin-left: 40px;

    span {
      margin-left: 34px;
    }
  }
  &-icon {
    width: 28px;
    margin-right: 11px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &-text {
    font-weight: 700;
    font-size: 18px;
    width: 107px;
    text-align-last: left;
  }
  &-btn {
    margin-bottom: 37px;
    margin-top: 32px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 17px 90px;
    background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
    border-radius: 48px;
    box-shadow: 0px 9px 48px 0px #18dc6d26;
  }
}
.products__more {
  text-align: center;
  padding-bottom: 100px;
  &-link {
    color: #fff;
    font-weight: 700;
    padding: 17px 26px;
    background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
    border-radius: 48px;
    box-shadow: 0px 9px 48px 0px #d33d343d;
  }
}
.advantages {
  background-color: #eee;
  box-shadow: 0px 9px 49px 0px #8e888829;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
  }
  &__title {
    padding-top: 96px;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1;
  }
  &__item {
    display: flex;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 275px;
    padding: 14px;
    padding-left: 0;
    &-title {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 9px;
    }
  }
  &__icon {
    width: 76px;
    margin-right: 20px;
  }
}
.map {
  &__title {
    padding-top: 96px;
    padding-bottom: 70px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1;
  }
}
.blog {
  &__title {
    padding-top: 96px;
    padding-bottom: 70px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  &__item + .blog__item {
    margin-left: 20px;
  }

  &__item {
    width: 368px;
    &-title {
      font-weight: 700;
      font-size: 20px;
      padding-bottom: 12px;
    }
    &-text {
      padding-bottom: 30px;
    }
  }
  &__item-img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 40px;
  }
}
footer {
  flex: 0 0 auto;
}
.footer__top,
.footer__bottom {
  background-color: #797c7d;
}
.footer__top-nav {
  padding-top: 80px;
  padding-bottom: 30px;
}
.footer__top-link {
  color: #fff;
}
.footer__bottom-copy {
  color: #fff;
  margin-top: 25px;
}
.footer__bottom-wrap {
  padding-bottom: 70px;
}
